
<h1>YOUTUBE RIPPER</h1>
<form method="post" action="/audio">
  <label for="url">Paste YouTube URL here</label>


  <input type="text" id="url" name="url">


  <input type="submit" value="submit">
</form>
