<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
    YouTube Ripper
    </p>
    <p class="subtitle">
Download YouTube audio</p>
  </div>
</section>

<form method="post" action="/audio">
  <label for="url"></label>
  <div class="field">
  <div class="control">
    <input class="input is-primary is-loading" type="text" id="url" name="url" placeholder="Paste YouTube url here">
  </div>
  <input class="button" type="submit" value="submit">
</form>
</article>

