<br>
<p>Enter a song and artist to search...</p>
<form method="post" action="/search">
  <label for="query"></label>
  <div class="field">
    <div class="control">
      <input class="input is-primary is-loading" type="text" id="query" name="query" placeholder="Search">
    </div>
  <br>
  <input class="button is-primary" type="submit" value="submit">
</form>


</article>

