<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img src="<%=@song.thumbnail%>" alt="Placeholder image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%=@song.title%></p>
        <p class="subtitle is-6"><%=@song.artist%></p>
      </div>
    </div>

    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Phasellus nec iaculis mauris. <a>deeeets</a>.
      <br>
      <time datetime="2016-1-1">Release Date</time>
    </div>
  </div>
</div>